html, body {
  font-family: Century Gothic, Arial, sans-serif;
  color: #EEE;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  height: 100%;
  /*background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/78/Frosty_Raftsundet_landscape_with_Trolltindan_in_morning%2C_2012_October.JPG");*/
  background-image: url("../img/Frosty_Raftsundet_landscape_with_Trolltindan_in_morning_2012_October.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  overflow-y:hidden;
}

h1{
  /*background-color: pink;/**/

  margin-top: 5px; 
  margin-bottom: 40px;
  min-width: 100%;
  font-size: 12px; 
  font-size: 1.8vw;
  font-size:calc(12px + 1.8vw);

  font-style: normal;
}
p{
  /*background-color: red;/**/
  
  margin-top: 5px;

  font-size: 10px;
  font-size: 0.9vw;
  font-size:calc(10px + 0.9vw);

  text-align: left;
  font-style: normal;
}

nav {
  background-color: #313236;
  border-radius: 2px;
  text-align:right;
}

nav a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

nav a:hover {
  color: #ffffff;
}

main{
  background:inherit;
  top:0; bottom:0;
  left:0; right:0;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  max-height:100vh;
  display: flex;
  justify-content: center;
  align-items: center
}
.center{
  background:inherit;
}
article+.blur{
  position: absolute;
}
article{
  position: relative;
  z-index: 9999;
}
.blur{
  overflow: hidden;
  background: inherit;
  position: absolute;
  border-radius: 2px;
}
.blur:before{
  content: "";
  background: inherit; 
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: -25px;  
  right: 0;
  top: -25px;   
  bottom: 0;
  box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.3);

  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: blur(10px);
}
hr{
  color: #EEE;
  margin: 0;
  padding: 0;

}
address{
  /*background-color:grey;/**/
  text-align:left;
}

address .keyWord{
  font-size: 12px;
  font-size: 1vw;
  font-size:calc(12px + 1vw);
  font-style: normal;
}

address a{
  color:#DDD;
  font-style: normal;
  text-decoration: none;
}

img{
  width: auto;
  height: 100%;
}

footer{
  background-color: #111;/**/
  opacity: 0.6;
  color: #CCC;
  font-style: italic;
  text-align: right;
  font-weight: lighter;
  font-size: 11px;

  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
a{
  color: #CCC;
}
a:hover{
  color:#888;
}
a:active{
  color: #333;
}